<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Не перенаправлять существующие файлы и папки
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Все остальные запросы направлять на index.html
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript js mjs
  AddType text/css css
  AddType image/svg+xml svg
  AddType font/woff2 woff2
  AddType font/woff woff
  AddType image/jpeg jpg jpeg
  AddType image/png png
  AddType image/gif gif
  AddType image/x-icon ico
</IfModule>

<FilesMatch "\.(js|css|svg|woff2|woff|jpg|jpeg|png|gif|ico)$">
  Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>

<FilesMatch "\.(html)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>

<FilesMatch "^(version\.txt)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>
